.Yheader_1{
    background: #e0e0e0;
    .container{
        height: 58px;
        padding: 15px 0 5px 0;
        .Yheader_logo{
            display:block;
            width: 145px;
            height: 50px;
            background:url('../images/head/logo.png') no-repeat;
        }
        .steps{
            padding-top: 20px;
            margin-right: 40px;
            li{
                float:left;
                position:relative;
                b{
                    display:block;
                    width: 36px;
                    height: 36px;
                    font-size:18px;
                    line-height: 36px;
                    border-radius:50%;
                    background: #fff;
                    color:green;
                    float:left;
                    border:1px solid green;
                    text-align:center;
                }
                .b1{
                    background:green;
                    color:#fff;
                }
                span{
                    display:block;
                    width: 160px;
                    text-align:center;
                    position:absolute;
                    top:-20px;
                    right:-62px;
                }
                .span1{
                    color:#008842;
                }
                i{
                    display:inline-block;
                    width: 160px;
                    height: 6px;
                    border:1px solid #e5e5e5;
                    background: #fff;
                    margin-top: 15px;
                    float:left;
                }
            }
        }
    }
}
.Ymain{
    margin-top: 20px;
    .container{
        h2{
            height: 38px;
            line-height: 38px;
            border-bottom: 2px solid #05984d;
            background:url('../images/head/bg_cart.png') no-repeat;
            background-color: #fff;
            p{
                display:inline-block;
                width: 300px;
                margin-left: 260px;
            }
            a{
                float:right;
                color:#008842;
                margin-right: 30px;
                text-decoration:underline;
            }
        }
        .cart{
            padding: 10px 20px;
            border:1px solid #e3e6e0;
            border-top: 0;
            background: #fff;
            .cart_header{
                border:1px solid #ebebeb;
                margin-bottom: 10px;
                background: #f1f1f1;
                li{
                    float:left;
                    height: 40px;
                    width: 110px;
                    line-height: 40px;
                    text-align:center;
                    color:#262626;
                    padding: 0 10px;
                    label{
                        .all{
                            margin-right: 20px;
                        }
                    }
                }
                .cart_check{
                    width: 120px;
                }
                .cart_info{
                    width: 250px;
                }
                .cart_ubs{
                    width: 75px;
                }
                .cart_price{
                    width: 100px;
                }
            }
            .cart_list{
                li{
                    border:1px solid #ebebeb;
                    margin-bottom: 10px;
                    overflow: hidden;
                    div{
                        width: 110px;
                        height: 106px;
                        line-height: 106px;
                        text-align:center;
                        padding: 0 10px;
                        float:left;
                    }
                    .cart_che{
                        width: 20px;
                    }
                    .cart_img{
                        float:left;
                        width: 80px;
                        padding: 10px;
                    }
                    .cart_inf{
                        width: 250px;
                    }
                    .cart_ub{
                        width: 75px;
                    }
                    .cart_pri{
                        width: 100px;
                        color:#262626;
                    }
                    .cart_qty{
                        padding-top: 40px;
                        padding-left: 26px;
                        height: 66px;
                        width: 94px;
                        i{
                            display:inline-block;
                            width: 18px;
                            height: 24px;
                            float:left;
                            cursor:pointer;
                            background:url('../images/head/bg_cart.png') no-repeat 0 -40px;
                        }
                        .i2{
                            background-position: -20px -40px;
                        }
                        .qty{
                            float:left;
                            width: 24px;
                            height: 22px;
                            line-height: 22px;
                            text-align:center;
                            border:1px solid #cacbcb;
                        }
                    }
                    .cart_tot{
                        color:#e93005;
                    }
                    .cart_op{
                        padding-top: 30px;
                        height: 76px;
                        line-height: 24px;
                        .del{
                            cursor:pointer;
                        }
                    }
                }
            }
            .cart_footer{
                color:#666;
                height: 40px;
                background: #f7f7f7;
                margin-top: 20px;
                padding: 10px;
                .cart_footer_l{
                    padding-top: 12px;
                    width: 290px;
                    label{
                        input{
                            margin: 0 5px 0 20px;
                        }
                    }
                    span{
                        margin-left: 20px;
                        color:#444;
                    }
                }
                .cart_footer_r{
                    width: 340px;
                    span{
                        font-size:14px;
                        margin-right: 20px;
                        em{
                            color:#249c61;
                        }
                        b{
                            font-size:18px;
                            color:#ff5317;
                            margin: 0 5px;
                        }
                    }
                    .btn{
                        display:inline-block;
                        padding: 10px 20px;
                        font-size:18px;
                        color:#fff;
                        background: #ff5317;
                        margin: 0;
                    }
                }
            }
        }
    }
}