.Yhead {
  position: relative;
}

.Yhead .Yhead_t {
  background: #f7f9f8;
}

.Yhead .Yhead_t .container .fl p {
  line-height: 30px;
  margin-right: 10px;
  position: relative;
  float: left;
}

.Yhead .Yhead_t .container .fl p i {
  display: block;
  width: 8px;
  height: 10px;
  background: url("../images/head/1.png") no-repeat -20px -8px;
  position: absolute;
  right: -12px;
  top: 13px;
}

.Yhead .Yhead_t .container ul {
  float: right;
}

.Yhead .Yhead_t .container ul li {
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  float: left;
  position: relative;
}

.Yhead .Yhead_t .container ul li a {
  display: block;
}

.Yhead .Yhead_t .container ul li a i {
  display: block;
  width: 8px;
  height: 10px;
  background: url("../images/head/1.png") no-repeat -20px -8px;
  position: absolute;
  right: 0px;
  top: 13px;
}

.Yhead .Yhead_t .container ul li a s {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin-top: 6px;
  margin-right: 5px;
  background: url("../images/head/header-img.png") no-repeat -40px 0;
}

.Yhead .Yhead_t .container ul li a .a2 {
  background-position: -64px 0;
}

.Yhead .Yhead_t .container ul li a .a3 {
  background-position: -147px 0;
}

.Yhead .Yhead_t .container ul li a .a4 {
  background-position: -86px 0;
}

.Yhead .Yhead_t .container ul li .con {
  z-index: 120;
  display: none;
  width: 100px;
  padding: 5px 12px;
  text-align: left;
  position: absolute;
  left: -1px;
  top: 30px;
  border: 1px solid #b4c1a3;
  background: #fff;
}

.Yhead .Yhead_t .container ul li .con a {
  display: block;
  line-height: 25px;
  color: #727272;
}

.Yhead .Yhead_t .container ul li .con .back {
  line-height: 25px;
  color: #727272;
  cursor: pointer;
}

.Yhead .Yhead_t .container ul li .con11 {
  z-index: 120;
  display: none;
  width: 125px;
  padding: 10px;
  line-height: 25px;
  position: absolute;
  left: -1px;
  top: 30px;
  border: 1px solid #b4c1a3;
  background: #fff;
}

.Yhead .Yhead_t .container ul li .con11 .item {
  margin: 5px 0;
}

.Yhead .Yhead_t .container ul li .con11 .item img {
  width: 125px;
}

.Yhead .Yhead_t .container ul .li1:hover {
  margin: -1px -1px 0;
  border: 1px solid #b4c1a3;
  border-bottom: 1px solid #fff;
}

.Yhead .Yhead_t .container ul .li1:hover .con, .Yhead .Yhead_t .container ul .li1:hover .con11 {
  display: block;
}

.Yhead .Yhead_t .container ul .li1:hover i {
  background-position: -20px 2px;
}

.Yhead .Yhead_b {
  background: #e0e0e0;
}

.Yhead .Yhead_b .container {
  height: 58px;
  padding: 15px 0 5px;
}

.Yhead .Yhead_b .container .logo {
  width: 280px;
  margin-right: 10px;
  float: left;
}

.Yhead .Yhead_b .container .logo a {
  display: block;
  width: 145px;
  height: 50px;
  background: url("../images/head/logo.png") no-repeat;
}

.Yhead .Yhead_b .container .search {
  float: left;
  width: 528px;
  position: relative;
}

.Yhead .Yhead_b .container .search .search-bar .search-input {
  display: block;
  width: 425px;
  height: 26px;
  float: left;
  padding: 0 10px;
  line-height: 26px;
  border: 1px solid #008842;
  background: #e0e0e0;
}

.Yhead .Yhead_b .container .search .search-bar .search-btn {
  display: block;
  width: 81px;
  height: 28px;
  padding: 0;
  border: none;
  float: left;
  font-size: 14px;
  color: #fff;
  background: #008842;
  cursor: pointer;
}

.Yhead .Yhead_b .container .search #suggest {
  z-index: 100;
  width: 200px;
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  left: 0px;
  top: 30px;
}

.Yhead .Yhead_b .container .search #suggest .liang {
  border: 1px solid #f60;
}

.Yhead .Yhead_b .container .search .search-keywords {
  line-height: 30px;
}

.Yhead .Yhead_b .container .search .search-keywords a {
  margin-right: 5px;
  color: #727272;
  display: inline-block;
}

.Yhead .Yhead_b .container .search .search-keywords .hot {
  color: #008842;
}

.Yhead .Yhead_b .container .shopping_cart {
  float: right;
  width: 170px;
  height: 28px;
  font-weight: bold;
  font-size: 18px;
  color: red;
  padding: 6px 0;
  background: #fff;
  border: 1px solid #008842;
  cursor: pointer;
}

.Yhead .Yhead_b .container .shopping_cart span {
  display: inline-block;
  width: 28px;
  height: 20px;
  font-size: 12px;
  line-height: 7px;
  text-align: center;
  margin: 5px 0 0 24px;
  background: url("../images/head/header-img.png") no-repeat -112px 0;
}

.Yhead .xiding {
  position: fixed;
  left: 111px;
  top: 0;
  z-index: 111;
  background: #fff;
}
